
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodBye</title>
</head>
<body>
    <div>
        <h2>
            Good BYE
        </h2>
    </div>
</body>
</html>
