@model IEnumerable<MyMvcApp.Models.PersonDatabase>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonDatabase</title>
</head>
<body>
    <center>
        <h2>Person details</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
            @foreach (MyMvcApp.Models.PersonDatabase per in Model)
            {
                <tr>
                    <td>@per.ID</td>
                    <td>@per.Name</td>
                    <td>@per.Age</td>
                </tr>
            }
        </table>
        
    </center>
</body>
</html>
